name: "Release"

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install gsht
        run: |
          wget https://github.com/NekoOs/gsht.sh/releases/download/nightly/gsht.gsht
          sudo mv gsht.gsht /usr/local/bin/gsht
          sudo chmod a+x /usr/local/bin/gsht
      - name: transpile
        run: |
          gsht --input src/tfsuit.sh  --output tfsuit
          zip --junk-paths tfsuit tfsuit
      - name: Tag
        if: github.event.pull_request.merged
        id: tag
        uses: K-Phoen/semver-release-action@master
        with:
          release_branch: main
          release_strategy: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        if: github.event.pull_request.merged
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          release_name: ${{ steps.tag.outputs.tag }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        if: github.event.pull_request.merged
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ./tfsuit.zip
          asset_name: tfsuit
          asset_content_type: application/zip
